body {
    margin: 0;
    padding: 0;
}

.title {
    font-family: cursive;
    text-align: center;
    color: gold;
    font-size: 2.5rem;
}

.title span {
    font-size: 1.25rem;
    padding-inline: 2rem;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 200;
    
}
.container {
    width: 45vw;
    height: 45vw;
    margin: auto;
    display: grid;
    background-color: white;
}

.frame {
    margin-top: 5rem;
    margin-inline: auto;
    width: 55vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.moused {
    background-color: black;
}

.button-group {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
#clear, #color-button{
    margin: 1rem 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

.slidecontainer {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    padding-bottom: .5rem;
    color: gold;
    font-family: sans-serif;
    font-size: 1.5rem;
}